<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Recipe Finder</title>
    <link rel = "stylesheet" href = "../styles/recipe.css">
</head>
<body>
    <section class = "middle">
        <h1>recipe search</h1>
        <form  method = "post" action = "/recipe"> 
            <p id = "subtitle">find inspiration</p>
            <p><input name = "query"></p>
            <p><input id = "search_button" type = "submit" value = "Search"></p>
            <p class = "footer">©2019 warren lee</p>
        </form>
    </section>
</body>
</html>