<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Recipe</title>
    <link rel="stylesheet" href="../styles/recipe.css">
 
</head>
<body>
    <h1 id="title" >  your recipes </h1>
    <section class="middle" id="recipe_list">
        <div>
        {% for result in results.results %}
            <p id="name_dish"><img src="{{result.thumbnail}}">{{result.title}}</p>
            <div class="ingredients">{{ result.ingredients }}</div>
        {% endfor%}
        </div>
    </section>
    <p id="home"><a href="/" > Return Home </a></p>
    <script src="/scripts/animation.js"></script>
</body> 
</html>